<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rightwaves</title>
        <link href="{{ url_for('static', filename='css/smolpxl.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='java/rightwaves/smolpxl.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='java/rightwaves/replay.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='java/rightwaves/game.js') }}"></script>
    </head>
    <body>
    </body>
</html>
