<!-- home.html -->
{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Dr. Mias's Medicine, etc. Home Page</h1>
    </div>
    <div>
        <h2>Sitemap:</h2>
        <ul>
            <li><a href="home">Home (this page)</a></li>
            <li><a href="yo_mama">Yo Mama Joke Generator</a></li>
            <li><a href="num/696969">Number Echo</a></li>
            <li><a href="games">Dr. Mias's Games Page</a></li>
            <li><a href="chatroom">Dr. Mias's Chatroom</a></li>
        </ul>
    </div>
{% endblock %}