<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title >{% block title %}Dr. Mias's Medicine, etc. Site{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='imgs/favicon.png') }}" type="image/png" sizes="16x16">
    <style>
        {% block style %}{% endblock %}
        html {
            background-color: #181A1B;
            color: #EEEEEE;
        }
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
