<!-- games.html -->
{% extends "base.html" %}

{% block title %}
    Dr. Mias's Games Page
{% endblock %}

{% block style %}
    /* CSS styles */
    .game-title {
        text-align: center; /* Center the content horizontally */
        display: flex; /* Use flexbox to center vertically */
        justify-content: center; /* Center the content vertically */
        align-items: center; /* Center the content vertically */
        height: 10vh; /* Set the height to full viewport height */
    }

    .game-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
        gap: 20px; /* Adjust the gap between game items */
    }

    .game-links div {
        text-decoration: none;
        color: #EEEEEE; /* Adjust link text color */
        text-align: center;
        display: block;
    }

    .game-links img {
        width: 90%;
        height: auto;
        border: 10px solid #333333; /* Add a border around images */
        border-radius: 8px; /* Add some border radius to make it more visually appealing */
    }

    .game-links span {
        display: block;
        margin-top: 10px; /* Adjust the spacing between image and text */
        font-weight: bold; /* Make the game name bold */
    }
{% endblock %}

{% block content %}
    <div class="game-title">
        <h1>Dr. Mias's Games Page</h1>
    </div>

    <div class="game-links">
        <div class="game-item">
            <a href="games/snake" class="game-item">
                <span>Snake</span>
                <img src="/website/static/imgs/snake.png" alt="Snake Img">
            </a>
        </div>

        <div class="game-item">
            <a href="games/block_dude" class="game-item">
                <span>Block Dude</span>
                <img src="/website/static/imgs/block_dude.png" alt="Block Dude Img">
            </a>
        </div>

        <div class="game-item">
            <a href="games/missile" class="game-item">
                <span>Missile</span>
                <img src="/website/static/imgs/missile.png" alt="Missile Img">
            </a>
        </div>

        <div class="game-item">
            <a href="games/breakout" class="game-item">
                <span>Breakout</span>
                <img src="/website/static/imgs/breakout.png" alt="Breakout Img">
            </a>
        </div>

        <div class="game-item">
            <a href="games/frogger" class="game-item">
                <span>Frogger</span>
                <img src="/website/static/imgs/frogger.png" alt="Frogger Img">
            </a>
        </div>

        <div class="game-item">
            <a href="games/sokoban" class="game-item">
                <span>Sokoban</span>
                <img src="/website/static/imgs/sokoban.png" alt="Sokoban Img">
            </a>
        </div>

        <div class="game-item">
            <a href="games/jump" class="game-item">
                <span>Jump</span>
                <img src="/website/static/imgs/jump.png" alt="Jump Img">
            </a>
        </div>

        <div class="game-item">
            <a href="games/tetris" class="game-item">
                <span>Tetris</span>
                <img src="/website/static/imgs/tetris.png" alt="Tetris Img">
            </a>
        </div>

        <div class="game-item">
            <a href="games/bobble" class="game-item">
                <span>Bobble</span>
                <img src="/website/static/imgs/bobble.png" alt="Bobble Img">
            </a>
        </div>

        <div class="game-item">
            <a href="games/bomberman" class="game-item">
                <span>Bomber-Man</span>
                <img src="/website/static/imgs/bomberman.png" alt="Bomber-Man Img">
            </a>
        </div>

        <div class="game-item">
            <a href="games/pong" class="game-item">
                <span>Pong</span>
                <img src="/website/static/imgs/pong.png" alt="Pong Img">
            </a>
        </div>

        <div class="game-item">
            <a href="yo_mama" class="game-item">
                <span>Yo Mama Joke Generator</span>
                <img src="/website/static/imgs/yo_cow.jpg" alt="Yo Mama Joke Generator Img">
            </a>
        </div>
    </div>
{% endblock %}